@model Day1Homework.ViewModel.CreateViewModel
@{
    ViewBag.Title = "Home Page";
}

@Html.Action("Create")
<div id="ajax">
    @Html.Action("ResultList")
</div>
<div id="loading">
    <i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i>
    <span class="sr-only">Loading...</span>
</div>

@section scripts{
    <script src="~/Scripts/jquery-2.2.1.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
}